{{template "header" .}}

<section>
    <div style="width: 49%; float: left">
        <i-Input v-model="content1" type="textarea" class="glass-input" :rows="globalTextareaRowsWithButton" placeholder="粘贴 JSON ..."></i-Input>

        <div style="float: left; margin-top: 10px;width: 600px">
            <i-button type="primary" style="" @click="conv(1)"> JSON 格式化 >></i-button>
            <i-button type="primary" style="margin-left: 10px" @click="conv(2)"> JSON 压缩 >></i-button>
        </div>
    </div>

    <div style="width: 49%; float: left;margin-left: 15px">
        <i-Input v-model="content2" type="textarea" :rows="globalTextareaRowsWithButton" placeholder="格式化结果 ..."></i-Input>
    </div>
</section>

<script>

    var render = {
        data () {
            return {
                content1: "",
                content2: ""
            }
        },
        watch: {

        },
        methods: {
            getShareData() {
                return {
                    "content1":this.content1,
                    "content2":this.content2,
                }
            },
            initShareData(data) {
                this.content1 = data["content1"] || data["content"] || ""
                this.content2 = data["content2"] || ""
            },
            preprocess(raw) {
                var ct = raw || ""
                ct = ct.replaceAll("\\r\\n", "")
                ct = ct.replaceAll("\\\\u0026", "&")
                ct = ct.replaceAll("\\u0026", "&")

                var compact = ct.replaceAll(" ", "").replaceAll("\r", "").replaceAll("\n", "")
                if (compact.substr(0, 3) === "{\\\"" || compact.substr(0, 4) === "\"{\\\"") {
                    ct = ct.trim()
                    ct = ct.replace(/^["',]+|["',]+$/g, '')
                    ct = ct.replace(/\\"/g, '"')
                    ct = ct.replaceAll("\\\\", "\\")
                }
                return ct
            },
            conv(t) {
                var ct = this.preprocess(this.content1)
                if (!ct.trim()) {
                    this.content2 = ""
                    return
                }

                try {
                    var obj = JSON.parse(ct)
                    if (t === 2) {
                        this.content2 = JSON.stringify(obj)
                    } else {
                        this.content2 = JSON.stringify(obj, null, 4)
                    }
                } catch (e) {
                    this.content2 = "解析失败：" + e.message
                }
            }
        },
        mounted(){

        }
    }
</script>

{{template "footer" .}}
