
{{template "header" .}}

<section >
    <div :style='{"height": clientHeight - 86 + "px", "border": "1px solid #dcdee2"}'>
        <div id="jsonEditor" style="height: 100%;width: 100%" ></div>
    </div>
</section>


<script>
    var require = {paths: {vs: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.34.0/min/vs' } };
</script>

<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.34.0/min/vs/loader.js"></script>

<script>

    var render = {
        data () {
            return {
                editor:0,
                content:"",
                isXml: false
            }
        },
        watch:{

        },
        methods: {
            getShareData() {
                return {
                    "content":this.content
                }
            },
            initShareData(data) {
                this.content = data["content"]
                this.render(this.content)
            },
            initOrInitShareDataFail(){
                this.render()
            },
            render(content) {
                require(['vs/editor/editor.main'], () => {
                    monaco.editor.setTheme('vs-light');

                    model = monaco.editor.createModel(content, "json")
                    this.editor = monaco.editor.create(document.getElementById('jsonEditor'), {
                        // value:"123123",
                        model: model,
                        wordWrap: true,
                        autoIndent: true, // 自动布局
                        automaticLayout: true, // 自动布局
                        formatOnPaste: false, //是否粘贴自动格式化
                        foldingImportsByDefault: true,
                        scrollBeyondLastLine:false,
                        gotoLocation:false,
                        foldingStrategy: "indentation",
                        useShadowDOM:true,
                    });

                    model.onDidChangeContent((e) => {
                        if (!e.isFlush) {
                            ct = model.getValue()
                            ct1 = ct
                            ct = ct.replaceAll("\\r\\n", "")
                            ct = ct.replaceAll("\\\\u0026", "&")
                            ct = ct.replaceAll("\\u0026", "&")

                            if (ct.substr(0, 1) === "<") {
                                if (ct1.replace(/\r\n\s*/g, "") === this.content.replace(/\r\n\s*/g, "")) {
                                    return
                                }
                                this.isXml = true
                                ct = this.formatXml(ct)
                                model.setValue(ct)
                            } else {
                                ct1 = ct.replaceAll(" ", "")
                                ct1 = ct1.replaceAll("\r", "")
                                ct1 = ct1.replaceAll("\n", "")
                                if (ct1.substr(0, 3) === "{\\\"" || ct1.substr(0, 4) === "\"{\\\"") {
                                    ct = ct.trim()
                                    ct = ct.replace(/^["',]+|["',]+$/g, '')
                                    ct = ct.replace(/\\"/g, '"')
                                    ct = ct.replaceAll("\\\\", "\\")
                                }
                                model.setValue(ct)
                                this.editor.getAction('editor.action.formatDocument').run();
                            }
                        }
                        this.content = model.getValue()
                    })

                    monaco.editor.onDidChangeMarkers(([uri]) => {

                        if (this.isXml) {
                            return
                        }

                        const markers = monaco.editor.getModelMarkers({resource: uri})

                        if (markers.length === 0) {
                            this.editor.getAction('editor.action.marker.nextInFiles').run();
                        } else {
                            this.editor.getAction('editor.action.marker.next').run();
                        }

                        for (var i=0;i<markers.length;i++){
                            console.log(i)
                        }

                        console.log('markers:', markers.map(
                            ({ message, startLineNumber, startColumn, endLineNumber, endColumn }) =>
                                `${message} [${startLineNumber}:${startColumn}-${endLineNumber}:${endColumn}]`,
                        ))
                    })

                });
            },
            formatXml(xml) {
                const PADDING = ' '.repeat(4);
                const reg = /(>)(<)(\/*)/g;
                let pad = 0;

                xml = xml.replace(/\r\n\s*/g, "")

                xml = xml.replace(reg, '$1\r\n$2$3');

                return xml.split('\r\n').map((node, index) => {
                    let indent = 0;
                    if (node.match(/.+<\/\w[^>]*>$/)) {
                        indent = 0;
                    } else if (node.match(/^<\/\w/) && pad > 0) {
                        pad -= 1;
                    } else if (node.match(/^<\w[^>]*[^\/]>.*$/)) {
                        indent = 1;
                    } else {
                        indent = 0;
                    }

                    pad += indent;

                    return PADDING.repeat(pad - indent) + node;
                }).join('\r\n');
            }
        },
        mounted() {
            setInterval(() => {
                if (this.editor) {
                    this.editor.getAction('editor.action.formatDocument').run();
                }
            }, 800)
        }
    }

</script>

{{template "footer" .}}